.button{
  border-radius: 1.6rem;
  border: 1px solid white;
  color: white;
  width: 7.6rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.7rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover{
    color: $color-red;
    border: 1px solid $color-red;
  }
}
.button{
  transition: 1s all ease;
  &:focus{
    outline: none;
  }
  &:active{
    transform: scale(0.9) translateY(2.05px);
  }
}
