.form-input{
  &__label{
    @include redtitle;
  }
  &__input{
    height: 3rem;
    width: 100%;
    border: 1px solid $color-gray-e6;
    font-weight: 500;
    line-height: 23rem;
    font-size: 1.8rem;
    padding-left: 2.0rem;
    border-radius: 0.5rem;
  }
}
.form-input{
  display: grid;
  //grid-template-columns: 129px 500px;
  grid-auto-rows: 6rem;
  grid-template-columns: 3fr 10fr;
  grid-column: input-s/input-e;
  align-items: center;
  width: 629;
  justify-content: center;
  &__label{
    grid-row: 1/-1;
    grid-column: 1/2;
  }
  &__input{
    grid-row: 1/-1;
    grid-column: 2/3;
  }
}
.form-button{
  display: grid;
  justify-content: center;
  &__button{
    height: 4rem;
    width: 21.6rem;
    border-radius: 2rem;
    border: none;
    background-color: $color-red;
    color: white;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-align: center;
  }
}
.form-textarea{
  display: grid;
  //grid-template-columns: 129px 500px;
  grid-auto-rows: 6rem;
  grid-template-columns: 3fr 10fr;
  grid-column: input-s/input-e;
  align-items: center;
  width: 629;
  justify-content: center;
  &__label{
    grid-row: 1/-1;
    grid-column: 1/2;
  }
  &__input{
    align-self: start;
    grid-row: 1/-1;
    grid-column: 2/3;
  }
}
.form-textarea{
  height: 20rem;
  &__label{
    @include redtitle;
  }
  &__input{
    width: 100%;
    border: 1px solid $color-gray-e6;
    font-weight: 500;
    line-height: 3rem;
    font-size: 1.8rem;
    padding-left: 2.0rem;
    border-radius: 0.5rem;
    font-family: $font-encode;
    resize: none;
  }
}

.form-image{
  display: grid;
  grid-template-rows: [title-s] 1fr [title-e image-s] 13.7rem [image-e];
  grid-template-columns: [s] 16rem [e];
  &__title{
    grid-row: title-s/title-e;
    grid-column: s/e;
    @include redtitle;
  }
  &__image{
    grid-column: s/e;
    grid-row: image-s/image-e;
    width: 16rem;
    height: 13.7rem;
    display: flex;
    background-color: $color-gray-4d;
  }
  &__replace{
    grid-row: image-s/image-e;
    grid-column: s/e;
    width: 13rem;
    height: 2.4rem;
    border: 1px solid white;
    border-radius: 0.3rem;
    color: $color-red;
    justify-self: center;
    align-self: center;
  }
}
