.requests-item-closed{
    grid-template-rows: [s title-s] 3.4rem [title-e tenant-s] 3.4rem [tenant-e e];
}

.requests-item{
  background-color: transparent !important;
  display: grid;
  grid-template-rows: [s title-s] 3.4rem [title-e tenant-s] 1.5rem [tenant-e e description-s] 1fr [description-e];
  grid-template-columns: [s icon-s] 6.8rem [icon-e title-s] minmax(40px, 1fr) [title-e arrow-s] 6.8rem [arrow-e date-s] 10rem [date-e e];
  //align-items: center;
  &__icon{
    grid-row: s/e;
    grid-column: icon-s/icon-e;
    justify-self: center;
    align-self: center;
  }
  &__tenant-unit{
    grid-row: tenant-s/tenant-e;
    grid-column: title-s/title-e;
    align-self: start;
  }
  &__title{
    grid-row: title-s/title-e;
    grid-column: title-s/title-e;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-column-gap: 2rem;
    grid-template-rows: 1fr;
  }
  &__date{
    grid-row: s/e;
    grid-column: date-s/date-e;
    align-self: center;
  }
  &__move{
    grid-row: s/e;
    grid-column: date-s/date-e;
    justify-self: right;
    &:hover{
      color: $color-red !important;
      border-color: $color-red !important;
    }
  }
  &__description{
    grid-row: description-s/description-e;
    grid-column: s/e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
  }
  &__description-text{

  }
  &__description-image{
  }
}
.requests-item{
  padding: 1.3rem;
  &__icon{
    font-size: 3rem;
  }
  &__tenant-unit{
    color: $color-red;
    font-family: $font-encode-condensed;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  &__title{
    &__text{
      color: $color-gray-4d;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.3rem;
    }
  }
  &__date{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  &__arrow{
    font-size: 3rem;
    color: $color-gray-4d;
  }
  &__description{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &__description-text{
    font-size: 1.4rem;
    line-height: 1.7rem;
    word-wrap: break-word;
  }
  &__description-image{

  }
  &__move{
    transform: translateX(-100);
    opacity: 0;
    color: $color-gray-4d !important;
    border-color: $color-gray-4d !important;
    align-self: center;
  }
  &:hover{
    background-color: $color-gray-f8 !important;
    .requests-item__move{
      transition: all 0.3s ease;
      transform: translateX(-100px);
      opacity: 100;
    }
    .requests-item__date{
      transition: all 0.3s ease;
      transform: translateX(-200px);
    }
  }
}
.bg-f8{
  background-color: $color-gray-f8 !important;
}
