.requests-grid{
  display: grid;
  grid-row: content-s/content-e;
  grid-template-rows: [add-s] 4.7rem [add-e s boxes-s] 1fr [e boxes-e];
  grid-template-columns: [boxes-s] 16rem [boxes-e requests-s] 1fr [requests-e];
  grid-column-gap: 3rem;

  &__button{
    color: $color-gray-4d;
    border-color: $color-gray-4d;
    background-color: white;
  }
}
