.requests-item{
  background-color: transparent !important;
  display: grid;
  grid-template-rows: [s title-s] 3.4rem [title-e tenant-s] 3.4rem [tenant-e e description-s] 1.47rem [description-e];
  grid-template-columns: [s icon-s] 6.8rem [icon-e title-s] minmax(40px, 1fr) [title-e arrow-s] 6.8rem [arrow-e date-s] 10rem [date-e e];
  //align-items: center;
  &__icon{
    grid-row: s/e;
    grid-column: icon-s/icon-e;
    justify-self: center;
    align-self: center;
  }
  &__tenant-unit{
    grid-row: tenant-s/tenant-e;
    grid-column: title-s/title-e;
    align-self: start;
  }
  &__title{
    grid-row: title-s/title-e;
    grid-column: title-s/title-e;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-column-gap: 2rem;
    grid-template-rows: 1fr;
  }
  &__date{
    grid-row: s/e;
    grid-column: date-s/date-e;
  }
  &__move{
    grid-row: s/e;
    grid-column: icon-s/icon-e;
    display: none;
  }
  &__description{
    grid-row: description-s/description-e;
    grid-column: s/e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
  }
  &__description-text{

  }
  &__description-image{
  }
}
.requests-item{
  &__icon{
    font-size: 3rem;
  }
  &__tenant-unit{
    color: $color-red;
    font-family: $font-encode-condensed;
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  &__title{
    &__text{
      color: $color-gray-4d;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.3rem;
    }
  }
  &__date{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  &__move{

  }
  &__arrow{
    font-size: 3rem;
    color: $color-gray-4d;
  }
  &__description{

  }
  &__description-text{
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  &__description-image{

  }
}
