.sign-in{
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;
}
.sign-in-form{
  display: grid;
  grid-template-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];
  justify-items: center;
  &__title{
    grid-column: s/e;
  }
  &__input{
    grid-column: input-s/input-e;
  }
  &__button{
    margin-top: 3.0rem;
    grid-column: input-s/input-e;
  }
  &__log-in{
    grid-column: input-s/input-e;
  }
  &__text-links{
    margin-top: 4.0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column: input-s/input-e;
  }
}
